# Application Settings
APP_NAME=SparkDataPipeline
DEBUG=True

# Kafka Settings
KAFKA_BROKERS=broker1:9092,broker2:9092,broker3:9092
KAFKA_INPUT_TOPIC=test4-topic
KAFKA_STARTING_OFFSETS=latest

# PostgreSQL Settings
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=postgres

# Spark Settings
SPARK_LOG_LEVEL=WARN
SPARK_PACKAGES=["/opt/bitnami/spark/jars/spark-sql-kafka-0-10_2.12-3.3.0.jar","/opt/bitnami/spark/jars/kafka-clients-3.3.0.jar","/opt/bitnami/spark/jars/postgresql-42.2.16.jar"]